@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://raw.githubusercontent.com/Learn-with-Sumit/think-in-a-redux-way/refs/heads/2.12/html/img/Hero-Banner.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}
