@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('https://raw.githubusercontent.com/Learn-with-Sumit/think-in-a-redux-way/refs/heads/2.12/html/img/Hero-Banner.webp'),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
}
